
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
textarea.form-control {
	height: 44px;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    background: rgba(0,0,0,0.6);
    font-family: 'lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 44px;
    color: #FFF;
    border-radius: 1px;
    border:0px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea,
textarea.form-control {
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 28px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
textarea.form-control:focus {
	outline: 0;
	background: rgba(255,255,255,0.4);
    border: 0px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder,
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #BBB9B9; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #BBB9B9; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]:-webkit-input-placeholder,
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #BBB9B9; }



button.btn {
	height: 44px;
    margin: 0;
    padding: 0 40px;
    vertical-align: middle;
		border-radius: 50px;
		background:none;
    border: 1px solid ;
		border-color: #00E016;
    font-family: 'lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 44px;
    color:#00E016;;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 50px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover {
    background: linear-gradient(135deg, rgba(0,71,73,1) 0%, rgba(179,255,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004749', endColorstr='#b3ff00', GradientType=1 );
		border: 1px solid ;
		border-color: transparent;
    color: #fff;
    opacity: 1;
}

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #6EFF51; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #6EFF51; color: #fff; }

button.btn:disabled { outline: 0; opacity: 0.6; background: #49C1F9; color: #fff;}
