input[type="text"],
input[type="password"],
input[type="email"],
textarea,
textarea.form-control {
	height: 44px;
    margin: 0;
    padding: 0 15px;
    vertical-align: middle;
    font-family: 'lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 44px;
    color: #252626;
    border-radius: 1px;
    border:0px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea,
textarea.form-control {
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 28px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
textarea.form-control:focus {
	outline: 0;
	background: rgba(255,255,255,0.7);
    border: 0px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder,
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #575757; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #575757; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]:-webkit-input-placeholder,
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #575757; }



button.btn {
	height: 7vh;
	border: none;
	width: 90%;
	background: #0d47a1;
	margin-bottom: 10%;
}
button.btn:hover{
	background:#1976d2;
}
.a-olvido{
	color: white;
	font-size:3vh;
}

.a-olvido:hover{
	color: #002290;
}

select{
	color: #292929;
	border: 1px solid white;
	background: none;
	height: 44px;
	color: white;
}
option{
	background:none;
	color:#5A5A5A;
}
.tipo-doc{
	font-weight: 100;
	font-size: 18px;
	margin-right: 5%;
}

#btnRegister{
	background: #6700E5;
}

#btnRegister:hover{
	background: #9E4EFF;
	outline: 0;
}

#btnRegister:active{
	background: #9E4EFF;
	outline: 0;
}


button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:disabled { outline: 0; opacity: 0.6; background: #49C1F9; color: #fff;}
