RewriteEngine on

RewriteRule ^inicio$            ?c=main&a=inicio
RewriteRule ^registro$        ?c=main&a=viewCreate
RewriteRule ^login$         ?c=main&a=inicio
RewriteRule ^crear$       ?c=usu&a=create
RewriteRule ^send$     ?c=email&a=send
RewriteRule ^recover$   ?c=main&a=recoverPass

RewriteRule ^acceso/validar$     index.php?c=usu&a=validar
